// ----------- FOOTER ---------- //
footer{
    background-image:image-url('footer.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    color: #FFFFFF;
}
.footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-content: center;
    gap: 25px;
    padding-top: 60px;
    padding-bottom: 200px;
}
.footer__list__help{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-top: 80px;
    h3{
        color: #000;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1;
    }
    a{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.25;
        color: #000;
    }
}
.footer__list__main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
    .logo{
        .logo{
            p{
                color: #000;
                font-weight: 600;
            }
        }
    }
    .slogan{
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: 500;
        color: black;
        text-align: center;
        padding-bottom: 20px;
    }
    .btn{
        width: 200px;
        color:#FFFFFF;
        background-color: #2770EC;
    }
    .btn:hover{
        border:0px;
    }
    .footer__main__contacts{
        width: 50%;
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
        a{
            img{
                width: 100%;
                border-radius: 15px;
                box-shadow: 2px 5px 11px -5px #000102;
            }
        }
    }
}
.footer__list__company{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    padding-top: 80px;
    h3{
        color: #000;
        font-size: 1.6rem;
        font-weight: 600;
    }
    a{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.25;
        color: #000;
    }
}
.copyright{
    transform: translate(-5%, -30px);
    font-size: 1.1rem;
}
// ADAPTIVE
@media (max-width: 450px) {
    footer{
        background-size: 300% 30%;
    }
    .footer__list__company{
        display: none;
    }
    .footer__list__help{
        display: none;
    }
    .footer__list{
        grid-template-columns: 1fr;
    }
    
}
