// ----------- HERO ---------- //
.hero3{
    height: max-content;
    background-image: url("/img/main_background.jpeg");
    background-position: top;
    background-size: cover;
}
.main2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
    margin-top: 40px;
    padding-bottom: 160px;
}
.main2__dedicated-text{
    width: 55%;
}
.main2__dedicated-text > h2{
    margin-bottom: 35px;
}
.dedicated-text__p >p{
    margin-bottom: 20px;
    text-align: justify;
}
.main2__benefits{
    width: 35%;
}
.main2__benefits > h2{
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 35px;
}
.benefits__list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.benefits__list__item{
    display: inline-flex;
    align-items: center;
}
.benefits__list__item > p{
    margin-left: 30px;
    font-size: 2.4rem;
} 
.list__item__img{
    background-color: #ffffff;
    border-radius: 5px ;
    padding: 15px;
}
// ----------- RESULT ---------- //
.your-server{
    background-image: url("/img/main_background.jpeg");
    background-position: top;
    background-size: cover;
    padding-bottom: 50px;
}
.your-server__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.your-server__h2{
    color: #FFFFFF;
    padding-bottom: 70px;
}
summary{
    margin-bottom: 15px;
    cursor: pointer;
    list-style: none;
}
.summary-title{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.summary-title > p{
    font-size: 2.5rem;
    line-height: 1.25;
    font-weight: 600;
    color: #ffffff;
}
@media (max-width: 768px){
    .summary-title > p{
        font-size: 1.8rem;
    }
}
.summary-title > img{
    transform: rotate(-180deg);
}
.your-server__result-filter{
    color: #FFFFFF;
    width: 25%;
}
input[type=range] {
    width: 100%;
}
details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
    animation-fill-mode: forwards;
}
  
  @keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }
input[type=checkbox]{
    margin-bottom: 10px;
}
.filter-range > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

label{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
}
.net{
    display: flex;
    justify-content: center;
}
.result-filter__reset{
    border: 0;
    line-height: 2.5;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    padding: 0;
    background-color: inherit;
    margin-top: 40px;
}

input[type=range]{
    -webkit-appearance: none;
    margin-bottom: 15px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ffffff;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 18px;
    width: 18px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    background: #459EFF;
    margin-top: -7px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}




.result-h3{grid-area: h3;}
.result-specs1{grid-area: specs1;}
.result-specs2{grid-area: specs2;}
.result-price{grid-area: price;}
.result{
    display: grid;
    grid-template-areas:'h3 h3 price'
                        'specs1 specs2 price'
                        'specs1 specs2 price';;
    align-items: stretch;
    background: linear-gradient(89.85deg, #FFFFFF 0.11%, #F4F4F4 99.87%);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 35px;
    margin-left: 20px;
    width: 90%;
}
.result-price{
    display: grid;
    justify-content: center;
    text-align: end;
}
.result-price-1{
    font-size: 4.3rem;
    line-height: 1.5;
    font-weight: 500;
}
.result-btn{
    width: 100%;
    background-color: #1A49C0;
    color: #ffffff;
}
.result-btn:hover{
    color: #1A49C0;
    border: 1px solid #1A49C0;
    background-color: #ffffff;
}
@media (max-width: 768px){
    .result{
        display: grid;
        grid-template-areas:'h3 h3 '
                            'specs1 specs2 '
                            'specs1 specs2 '
                            'price price';;
    }
    .result-h3{
        text-align: center;
    }
}