// ----------- HERO ---------- //
.hero{
    background-image: url("/images/main_background.jpeg");
}
.about_p{
    color: white;
}
.about__title{
    color: #ffffff;
}
.about_h3{
    color: #ffffff;
}
.button_list__item > a{
    color: #ffffff;
}
.about{
    margin-top: 50px;
}
.about__list{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.about__list__item1{
    width: 50%;
    margin-right: 70px;
}
.list__item__button_list{
    display: flex;
    flex-direction: row;
}
.button_list__item{
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    font-weight: bold;
    width: 280px;
    height: 80px;
    text-align: center;
    padding-top: 20px;
    margin-top: 15px;
    margin-right: 30px;
}
.social_list__item{
    margin-top: 20px;
}
.social_list__item > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: #ffffff;
}