// ----------- HERO ---------- //
.hero{
    height: 100vh;
    background-image: url("/img/wave-1.png"), url("/img/main_background.jpeg");
    background-position: top;
    background-size: cover;
}
.main{
    display:inline-flex;
    margin-top: 85px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    
}
@media (max-width: 768px) {
    .main{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        text-align: center;
    }
    .hero{
        height: 1080px;
    }
}
.text__h1{
    font-weight: bold;
    font-size: 3.8rem;
    line-height: 1.35;
    margin-bottom: 40px;
    color: white;
}
.text__h2{
    font-weight: normal;
    font-size: 2.25rem;
    line-height: 1.35;
    padding-bottom: 40px;
    color: white;
}
.more {
    width: 180px;
    color: #1B56C5;
}
.main__img > img{
    width: 100%;
}
// ----------- OPTIONS ---------- //
.options{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 110px;
}
.options__h2{
    font-weight: 400;
}
.list-of-options{
    display: flex;
    justify-content: center;
    gap: 30px;
}
@media (max-width: 768px){
    .list-of-options{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }
}
.list-of-options__item{
    width: 255px;
    height: 200px;
    text-align: center;
    padding-top: 30px;
    padding-left: 32px;
    padding-right: 32px;
}
.list-of-options__content{
    padding-top: 20px;
}
.list-of-options__content > p{
    font-size: 1.6rem;
}
.list-of-options__content__item{
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 2rem;
}
.options-img{
    width: 70px;
}
// ----------- SECURITY ---------- //
.security{
    background-image: url('/img/main_background.jpeg');
    background-position: center;
    background-size: cover;
}
.security__content{
    display: inline-flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 160px;
}
@media (max-width: 768px){
    .security__content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 120px;
        padding-bottom: 160px;
        text-align: justify;
    }
}
.content-text{
    width: 55%;
    color: white;
    padding-right: 50px;
}
@media (max-width: 768px){
    .content-text{
        width: 100%;
        color: white;
        padding-right: 50px;
        margin-bottom: 20px;
    }
    .security-list{
        padding-top: 25px;
        text-align: start;
        margin-left: 30px;
    }
}
.security-list{
    padding-top: 25px;
}
.list__item{
    display: inline-flex;
    align-items: center;
    padding-bottom: 20px;
}
.checkout{
    margin-right: 10px;
}
.security-img > img{
    width: 100%;
}
// ----------- PROMO ---------- //
.promo-s{
    display: inline-flex;
    margin-top: 83px;
    margin-bottom: 84px;
    align-items: center;
    justify-content: space-between;
}
.promo-text{
    width: 60%;
}
@media (max-width: 768px){
    .promo-s{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 70px;
        align-items: center;
    }
    .promo-text{
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
}


.balancer-img { grid-area: img; }
.balancer-text { grid-area: text; }
.balancer-price { grid-area: price; }

.balancer{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-areas: 'img text'
                         'img price';
    grid-gap: 10px;
    width: 500px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 10px 50px rgba(0, 59, 121, 0.0725798);
    border-radius: 20px;               
}
.balancer-img{
    transform: translateX(-30px);
}
.balancer-text{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.25;
    display: grid;
    align-content: end;
}
.balancer-price1{
    font-size: 2.26rem;
    font-weight: 700;
    line-height: 1.25;
}
// ----------- WORLD MAP ---------- //
.map{
    background-image: url('/imgs/main_background.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
}
.map-content{
    margin-top: 65px;
}    
.map-content__text{    
    text-align: center;
    color: #FFFFFF;
}
.world-map > img{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 150px;
}
