// ----------- HERO ---------- //
.hero{
    background-image: url('/img/main_background.jpeg');
    height: 100vh;
}
.about_p{
    color: white;
}
.about__title{
    color: #ffffff;
    padding-bottom: 40px;
}
.about_h3{
    color: #ffffff;
}
.button_list__item{
    a{
        color: #ffffff;
        border: 1px solid white;
        border-radius: 5px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        font-size: 1.6rem;
        font-weight: bold;
        width: 280px;
        height: 80px;
        text-align: center;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.about{
    padding-top: 40px;
}
.about__list{
    display: flex;
    flex-direction: row;
}
.about__list__item1{
    width: 50%;
    margin-right: 20%;
    .about_h3{
        padding-bottom: 25px;
    }
    .about_p{
        padding-bottom: 15px;
    }
}
.list__item__button_list{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.social_list__item{
    margin-top: 20px;
    a{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        color: #ffffff;
        img{
            width: 55px;
        }
    }
}
// ----------- WORLD MAP ---------- //
.map{
    padding-top: 40px;
    background-image: url('/img/main_background.jpeg');
}
.map-content__text{    
    text-align: center;
    color: #FFFFFF;
}
.world-map > img{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 150px;
}
@media (max-width: 450px){
    .hero{
        height: auto;
    }

    .about{
        padding-top: 80px;
        h2{
            text-align: center;
        }
    }
    .about__list{
        flex-direction: column;
        .about__list__item1{
            width: 100%;
        }
        .about__list__item2{
            width: 100%;
            padding-top: 20px;
            .about_h3{
                text-align: center;
            }
            .list__item__social_list{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-content: center;
                flex-wrap: wrap;
            }
        }
        .list__item__button_list{
            flex-direction: column;
            gap: 5px;
            .button_list__item{
                a{
                    margin-top: 20px;
                    width: 100%;
                    
                }
            }
        }
    }
}
