.option{
    background-image: url('/img/wave-2.png');
    background-position: cover;
}
.option-content1{
    padding-top: 60px;
    padding-bottom: 60px;
    h2{
        text-align: center;
    }
}
.options__list__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.list__item__block{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 4px solid #2770EC;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
    width: 300px;
    height: auto;
    h3{
        font-size: 2.2rem;
        line-height: 1;
        font-weight: 600;
        color: #2770EC;
        padding: 0;
    }
    p{
        color: #0000009E;
        font-size: 1.8rem;
        line-height: 1;
        margin-top: 5px;
    }
    .item__block__button{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btn{
        width: 80%;
        color:#FFFFFF;
        background-color: #2770EC;
    }
    .btn:hover{
        border:0px;
    }
}
.options__price{
    p{
        color: #2770EC;
        font-size: 4.8rem;
        line-height: 1.5;
        font-weight: 700;
    }
    
}
.list__item__text{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.7);
    }
}
.option-content2{
    background-image: url('/img/main_background.jpeg');
    padding-top: 60px;
    padding-bottom: 60px;
    a{
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        .btn{
            width: 220px;
            color: #2770EC;
        }
        .btn:hover{
            color: #FFFFFF;
        }
    }
}
.disk-storage{
    display: grid;
    grid-template-areas:"img text"
                        "img price";
    gap: 30px;
    img{
        grid-area: img;
        width: 100%;
    }
    
}
.disk-storage__text{
    grid-area: text;
    color: #fff;
}
.disk-storage__price{
    grid-area: price;
    color: #333;
    .price-block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        margin-top: 10px;
        p{
            color: #1a53c2;
        }
    }
}
@media (max-width: 450px){
    .options__list__item{
        flex-direction: column;
        align-items: center;
    }
    .option-content1{
        padding-bottom: 40px;
    }
    .option-content2{
        padding-top: 40px;
        a{
            .btn{
                width: 55%;
            }
        }
    }
    .disk-storage{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;   
    }
}
